:8080 {
	encode gzip
	file_server
	route /* {
		reverse_proxy http://127.0.0.1:8001	
	}
	route /shell/* {
		uri strip_prefix /shell
		reverse_proxy http://127.0.0.1:4200
	}
	route /test* {
	    	uri strip_prefix /test
	    	reverse_proxy test.com:80 {
			header_up Host {http.reverse_proxy.upstream.hostport}
			header_up X-Real-IP {http.request.remote}
			header_up X-Forwarded-For {http.request.remote}
			header_up X-Forwarded-Port {http.request.port}
			header_up X-Forwarded-Proto {http.request.scheme}
		}
	}
	route /admin* {
	    uri strip_prefix /admin
	    root *  /wwwroot/KODExplorer
	    php_fastcgi unix//tmp/php-cgi-73.sock
	}
}
